body{
    width: 100%;
    height: 100%;
    background: #42455a;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.menu ul li:hover{
    color: #fd00da !important;
}

.menu ul li a{
    text-decoration: none;
    color: #b2b2b2;
}

.menu ul li a span:hover{
    color: #fd00da !important;
}

.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}

.active{
    color: #19dafa;
}

.not-active{
    color: #b2b2b2;
}

.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span{
    display: block;
    padding: 8px 22px;
}

.login-btn{
    top: 40px;
    right: 190px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.login-btn span{
    display: block;
    padding: 8px 22px;
}

.loginForm {
  position:absolute;
  width:400px;
  height:500px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}

.bottomText {
  text-align: center;
}

.checkbox {
    margin: 30px 10px 30px 0;
    text-align: left;
}