body{
    width: 99%;
    height: 100%;
    background: #42455a;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.menu ul li:hover{
    color: #fd00da !important;
}

.menu ul li a{
    text-decoration: none;
    color: #b2b2b2;
}

.menu ul li a span:hover{
    color: #fd00da !important;
}

.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}

.active{
    color: #19dafa;
}

.not-active{
    color: #b2b2b2;
}

.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span{
    display: block;
    padding: 8px 22px;
}

.login-btn{
    top: 40px;
    right: 190px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.login-btn span{
    display: block;
    padding: 8px 22px;
}

.stock-options-border{
    width: 500px;
    height: 150px;
    margin-top: 50px;
    margin-left: 39%;
    border: 2px solid transparent;
    border-radius: 25px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.stock-options{
    width: 500px;
    height: 150px;
    background-color: #2e303f;
    border-radius: 25px;
}

.stock-option-title{
    color: #b2b2b2;
    margin-left: 145px;
    margin-top: 3px;
    position: absolute;
}

.stock-options ul{
    font-size: 25px;
    display:inline-flex;
    position: absolute;
}

.stock-options-time{
   margin-left: 20px;
   color: #b2b2b2;
}

.sub-btn{
    width: 80%;
    height: 30px;
    margin-left: 40px;
    margin-top: 95px;
    font-size: large;
}

.TimeSelector{
    position: absolute;
}

.TimeSelectorLable{
    margin-top: 65px;
    margin-left: 250px;
    position: absolute
}

.StockSelectorLable{
    margin-top: 65px;
    margin-left: 65px;
    position: absolute;
}

.stock-graph{
    position: absolute;
     margin-left: 33%;
    margin-top: 50px;
}

.stock-graph img{
    width: 700px;
}

